<div class="tab-pane fade {% if active_tab == 'vmware' %}show active{% endif %}" id="vmware" role="tabpanel" aria-labelledby="vmware-tab">
    <!-- VMware configuration form -->
    <form action="{{ url_for('settings_blueprint.update_vmware_config') }}" method="post">
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header bg-secondary text-white">
                        <h4><i class="fa fa-cogs"></i> VMware Configuration (Global)</h4>
                    </div>
                    <div class="card-body">
                        <!-- ESXi Host IP -->
                        <div class="mb-3 row align-items-center">
                            <label for="host_ip" class="col-sm-2 col-form-label">ESXi Host IP</label>
                            <div class="col-sm-5">
                                <div class="d-flex align-items-center">
                                    <input type="text" id="host_ip" name="host_ip" class="form-control" placeholder="Enter Host IP">
                                    {% if config.esxi_ip %}
                                        <span class="ms-2 text-success"><i class="fas fa-check-circle"></i></span>
                                    {% else %}
                                        <span class="ms-2 text-danger"><i class="fas fa-times-circle"></i></span>
                                    {% endif %}
                                </div>
                                <small class="form-text text-muted">
                                    <em>Current: <strong>{{ config.esxi_ip or "Not Set" }}</strong></em><br>
                                    Enter the IP address of the ESXi host to deploy machines to.
                                </small>
                            </div>
                        </div>
                        <!-- vCenter DNS Name -->
                        <div class="mb-3 row align-items-center">
                            <label for="vcenter_server" class="col-sm-2 col-form-label">vCenter DNS Name</label>
                            <div class="col-sm-5">
                                <div class="d-flex align-items-center">
                                    <input type="text" id="vcenter_server" name="vcenter_server" class="form-control" placeholder="Enter DNS Name">
                                    {% if config.vcenter_server %}
                                        <span class="ms-2 text-success"><i class="fas fa-check-circle"></i></span>
                                    {% else %}
                                        <span class="ms-2 text-danger"><i class="fas fa-times-circle"></i></span>
                                    {% endif %}
                                </div>
                                <small class="form-text text-muted">
                                    <em>Current: <strong>{{ config.vcenter_server or "Not Set" }}</strong></em><br>
                                    Enter the DNS name of the vCenter server.
                                </small>
                            </div>
                        </div>
                        <!-- vCenter User -->
                        <div class="mb-3 row align-items-center">
                            <label for="vcenter_username" class="col-sm-2 col-form-label">vCenter User</label>
                            <div class="col-sm-5">
                                <div class="d-flex align-items-center">
                                    <input type="text" id="vcenter_username" name="vcenter_username" class="form-control" placeholder="Enter Username">
                                    {% if config.vcenter_username %}
                                        <span class="ms-2 text-success"><i class="fas fa-check-circle"></i></span>
                                    {% else %}
                                        <span class="ms-2 text-danger"><i class="fas fa-times-circle"></i></span>
                                    {% endif %}
                                </div>
                                <small class="form-text text-muted">
                                    <em>Current: <strong>{{ config.vcenter_username or "Not Set" }}</strong></em><br>
                                    Enter the username for the vCenter user.
                                </small>
                            </div>
                        </div>
                        <!-- vCenter User Password -->
                        <div class="mb-3 row align-items-center">
                            <label for="vcenter_password" class="col-sm-2 col-form-label">vCenter User Password</label>
                            <div class="col-sm-5">
                                <div class="d-flex align-items-center">
                                    <input type="password" id="vcenter_password" name="vcenter_password" class="form-control" placeholder="Enter Password">
                                    {% if config.vcenter_password %}
                                        <span class="ms-2 text-success"><i class="fas fa-check-circle"></i></span>
                                    {% else %}
                                        <span class="ms-2 text-danger"><i class="fas fa-times-circle"></i></span>
                                    {% endif %}
                                </div>
                                <small class="form-text text-muted">
                                    <em>Current: {% if config.vcenter_password %}<span class="text-success">A password is set</span>{% else %}<span class="text-danger">A password is not set</span>{% endif %}</em><br>
                                    Enter the password for the vCenter user.
                                </small>
                            </div>
                        </div>
                        <div class="text-left">
                            <button class="btn btn-primary"><i class="fas fa-save"></i> Update Configuration</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

