# Git files
.git
.gitignore

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyo

# Virtual environments
venv/
env/

# Environment variables
.env

# Pytest cache
.pytest_cache/

# Log files
logs/
*.log

# Distribution / Packaging
dist/
build/
*.egg-info/

# Database files
*.sqlite3
*.db
*.db-journal
*.sqlite
*.sqlite-journal
*.sql
