version: '3'
services:
  app:
    container_name: deployaroo-app
    restart: always
    build: .
    ports:
      - "8000:8000"
    environment:
      SECRET_KEY: 'your_secret_key' # Change this
      ENCRYPTION_KEY: 'your_encryption_key' # Change this
      APP_ADMIN_USER: 'administrator' # Change this
      APP_ADMIN_PASSWORD: 'password' # Change this
    # Volumes are optional
    volumes:
      - deployaroo-data/logs:/home/project/app/logs
      - deployaroo-data/backups:/home/project/app/apps/backups
    command: gunicorn -w 10 -b :8000 run:app --timeout 3600

  nginx:
    container_name: deployaroo-nginx
    restart: always
    image: "nginx:latest"
    ports:
      - "80:80"
    volumes:
      - ./nginx:/etc/nginx/conf.d
    depends_on:
      - app