{% extends "layouts/base-nonav.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100 bg-dark">
  <div class="auth-content">
    <div class="card shadow-lg p-4 bg-dark text-light">
      <div class="card-body text-center">
        <div class="mb-4">
          <img class="brand mb-3" src="{{ url_for('static', filename='logo/deployaroo_text_white.png') }}" alt="Brand Logo" class="img-fluid">
          <br>
          <span class="text-muted" style="font-size: 10px;">
            <b>A <a href="https://github.com/blink-zero" class="text-decoration-none text-muted">blink-zero</a> project</b>
          </span>
        </div>
        <form method="POST">
          <div class="mb-3">
            <input type="text" class="form-control bg-dark text-light" name="user_id" placeholder="Username" aria-label="Username" required>
          </div>
          <div class="mb-3 position-relative">
            <input type="password" class="form-control bg-dark text-light" name="password" placeholder="Password" aria-label="Password" required>
            <button class="btn btn-outline-secondary position-absolute end-0 top-50 translate-middle-y me-2" type="button" id="togglePassword" aria-label="Show password"><i class="fas fa-eye"></i></button>
          </div>
          <button class="btn btn-primary w-100 shadow-2 mb-4" type="submit" id="loginButton">
            <span id="buttonText">Login</span>
            <span id="buttonSpinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
          </button>
          {% if error %}
          <div class="alert alert-danger mt-3" role="alert">
            Error: {{ error }}
          </div>
          {% endif %}
        </form>
        <div class="mt-4">
          <span class="text-muted" style="font-size: 12px;">Application Version: 1.0.0</span>
          <br>
          <span class="text-muted" style="font-size: 10px;">&copy; 2024 Deployaroo. All rights reserved.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Include necessary scripts -->
<script src="{{ url_for('static', filename='vendor/jquery3/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/toastr/toastr.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/fontawesome5/js/all.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

<script>
  $(document).ready(function() {
    $('input[name="user_id"]').focus();

    $('#togglePassword').click(function() {
      var passwordField = $('input[name="password"]');
      var passwordFieldType = passwordField.attr('type');
      if (passwordFieldType == 'password') {
        passwordField.attr('type', 'text');
        $(this).html('<i class="fas fa-eye-slash"></i>');
      } else {
        passwordField.attr('type', 'password');
        $(this).html('<i class="fas fa-eye"></i>');
      }
    });

    $('form').submit(function() {
      $('#buttonText').addClass('d-none');
      $('#buttonSpinner').removeClass('d-none');
      $('#loginButton').prop('disabled', true);
    });
  });
</script>

<style>
  .auth-content {
    width: 100%;
    max-width: 400px;
    padding: 15px;
  }

  .card {
    border-radius: 15px;
    border: 1px solid #3a3b3d;
  }

  .form-control {
    border-color: #3a3b3d;
  }

  #togglePassword {
    color: #e4e6eb;
    border-color: #3a3b3d;
  }

  #loginButton {
    border-radius: 5px;
    background-color: #1abc9c;
    border-color: #1abc9c;
  }

  .brand {
    max-width: 200px;
  }

  @media (max-width: 576px) {
    .auth-content {
      width: 90%;
    }
  }
</style>
{% endblock %}