{% extends "layouts/base.html" %}

{% block title %} Domain {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/domain.css') }}">

<div class="wrapper d-flex">
    <div id="sidebar">{% include 'includes/sidebar.html' %}</div>
    <div id="body" class="flex-grow-1 d-flex flex-column">
        {% include 'includes/navbar.html' %}
        <div class="content flex-grow-1 d-flex flex-column">
            <div class="container-fluid">
                <div class="page-title d-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-white">Domain: {{ domain_item.name }}</h3>
                    <div class="btn-group">
                        <button class="btn documentation-btn">
                            <i class="fas fa-book"></i> Documentation
                        </button>
                        <button class="btn btn-danger delete-button" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">
                            <i class="fas fa-trash-alt"></i> Delete
                        </button>
                        <button class="btn btn-primary settings-button" data-bs-toggle="modal" data-bs-target="#settingsModal">
                            <i class="fas fa-cog"></i> Settings
                        </button>
                        <button class="btn btn-secondary" id="stagedVmsBtn">
                            <i class="fas fa-server"></i> Staged VMs
                        </button>
                    </div>
                </div>
                
                {% include 'includes/domain-form.html' %}
            </div>
            
            {% include 'includes/staged-vms-panel.html' %}
            
            <button type="button" class="btn btn-secondary btn-sm" id="togglePanelButton">
                <i class="fas fa-chevron-left"></i>
            </button>
        </div>
    </div>
</div>

{% include 'includes/domain-modals.html' %}
{% include 'includes/toastr.html' %}

<script src="{{ url_for('static', filename='vendor/axios/axios.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/domain.js') }}"></script>

{% endblock content %}